# Python virtual environment
venv/
__pycache__/
*.py[cod]

# Airflow logf, plugins
plugins/
logs/

# Airflow database & temporary files
airflow.db
*.pid
config/


# DBT build and logs
dbt/flights_analytics_dbt/target/
dbt/flights_analytics_dbt/logs/

# Terraform state files and backups
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform.tfvars

# Keys 
keys/

# Keys 
local_data/

# Environment variables
.env

# Docker
dockerignore
*.log
*.pid
*.sock

# Ignore python egg and dist info
*.egg-info/
dist/
build/
